    .weatherLocationCont {
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        min-width: 350px;
        box-sizing: border-box;
        padding: 25px;
        font-family: 'Roboto', sans-serif;
        box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.75);
        cursor: pointer;
        /*border-radius: 5px;
         border-color: #8f8f8f;
        border-style: solid;
        border-width: 0.5px;
        */
    }
    
    .locationCont {
        height: 35px;
        text-align: left;
        color: #888;
        line-height: 35px;
        overflow: auto;
    }
    
    .locationCont h1 {
        margin: 0;
        white-space: nowrap;
    }